<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/home.css">
        <script defer type="text/javascript" src="/homepage.js"></script>
    </head>

    <body>
        <navbar>
            <span class="span-container">
                <div class="sidebar-container">
                    <div class="logo nav">
                        <svg fill="#ffffff" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M176,72a16,16,0,1,1-16-16A16.00016,16.00016,0,0,1,176,72Zm68,8a11.998,11.998,0,0,1-5.34375,9.98438L220,102.42188V120A108.12217,108.12217,0,0,1,112,228H12a12,12,0,0,1-9.52344-19.30127L92,91.92969V76A64.01009,64.01009,0,0,1,216.5752,55.294l22.08105,14.72167A11.99924,11.99924,0,0,1,244,80Zm-33.63281,0-10.69043-7.12793a12.001,12.001,0,0,1-4.958-6.9668A40.00762,40.00762,0,0,0,116,76V96a11.9995,11.9995,0,0,1-2.47656,7.30127L36.32129,204H112a84.0953,84.0953,0,0,0,84-84V96a11.99859,11.99859,0,0,1,5.34375-9.98438Zm-81.7334,46.47656a11.99957,11.99957,0,0,0-16.82422,2.22266l-30.666,40a11.99989,11.99989,0,1,0,19.04688,14.60156l30.666-40A11.99975,11.99975,0,0,0,128.63379,126.47656Z"></path>
                            </g>

                    </div>
                    <a class="nav highlight-onhover" id="homeNav" href="/">
                        <div class="nav-icon"></div>
                        <div class="nav-text">Home</div>
                    </a>
                    <div class="nav highlight-onhover" id="exploreNav">
                        <div class="nav-icon"></div>
                        <div class="nav-text">Explore</div>
                    </div>
                    <div class="nav highlight-onhover" id="notifNav">
                        <div class="nav-icon"></div>
                        <div class="nav-text">Notifications</div>
                    </div>
                    <a class="nav highlight-onhover" id="profileNav" href="/<%= userData %>">
                        <div class="nav-icon"></div>
                        <div class="nav-text">Profile</div>
                    </a>
                    <div class="nav highlight-onhover" id="chirpNav">
                        <div class="nav-icon"></div>
                        <div class="nav-text">Chirp</div>
                    </div>
                </div>
                </div>
                <div class="profile-preview">
                    <div class="dp">
                        <img src="/dev/dp.png" alt="">
                    </div>
                    <div class="user-info">
                        <div class="username">username</div>
                    </div>
                    <!-- This is the button for logging out or logging in another account -->
                    <div class="account-action">
                        <button id="accountAction"><img src="/images/3dots.png" alt=""></button>
                    </div>
                </div>
            </span>
        </navbar>

        <main>
            <section id="post-section">
                <div class="content-category-container">
                    <form action="/display-for-you" method="POST" id="displayForYou">
                        <button class="content-category" id="forYou">
                            For you
                        </button>
                    </form>
                    <form action="/display-following" method="POST" id="displayFollowing">
                        <button class="content-category" id="following">
                            Following
                        </button>
                    </form>
                </div>

                <div class="create-post-container">
                    <div class="dp">
                        <img src="/dev/dp.png" alt="">
                    </div>
                    <form action="/create-post" method="POST" id="createPostForm">
                        <textarea name="content" id="createPost" placeholder="What' s happening?"></textarea>
                        <div id="buttons">
                            <div class="character-counter" id="postCharCounter">0</div>
                            <button type="submit" id="postBtn">Post</button>
                        </div>
                    </form>
                </div>

                <div class="posts-container">
                    <% if(typeof data != 'undefined') { %> <% data.forEach(post => { %>

                    <div class="post">
                        <a class="dp" href="/<%= post.username %>">
                            <img src="/dev/dp.png">
                        </a>
                        <div class="post-content-container">
                            <div class="post-header">
                                <a class="username" href="/<%= post.username %>">
                                    <%= post.username %>
                                </a>
                                <div class="post-date">
                                    <%= post.date %>
                                </div>
                                <button id="postSettingsBtn">
                                    <img src="/images/3dots.png">
                                </button>
                            </div>

                            <div class="post-body"><%- post.content.trim().replace(/\n/g, '<br>') %></div>

                            <div class="post-footer">
                                <button id="heartBtn"><img src="/images/heart.png"></button>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>

                </div>
            </section>
            <section id="misc">
                <span class="span-container">
                    <div class="search-bar-container">
                        <div class="search-icon"></div>
                        <form action="/search">
                            <input type="text" name="search" id="searchInput" maxlength="30" placeholder="Search">
                            <!-- <button type="submit">Search</button> -->
                        </form>
                    </div>
                </span>
            </section>
            </div>
        </main>

    </body>

</html>