<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/profile.css">
        <title>Profile</title>
    </head>

    <body>
        <navbar>
            <span>
                <div class="sidebar-container">
                    <div class="logo">Chirp</div>
                    <a class="nav" id="homeNav" href="/">
                        <div class="nav-icon"></div>
                        <div class="nav-text">Home</div>
                    </a>
                    <div class="nav" id="exploreNav">
                        <div class="nav-icon"></div>
                        <div class="nav-text">Explore</div>
                    </div>
                    <div class="nav" id="notifNav">
                        <div class="nav-icon"></div>
                        <div class="nav-text">Notifications</div>
                    </div>
                    <a class="nav" id="profileNav" href='/<%= userData.username %>''>
                        <div class="nav-icon"></div>
                        <div class="nav-text">Profile</div>
                    </a>
                    <div class="nav" id="chirpNav">
                        <div class="nav-icon"></div>
                        <div class="nav-text">Chirp</div>
                    </div>
                </div>
                <div class="profile-preview">
                    <div class="dp">
                        <img src="/dev/dp.png" alt="">
                    </div>
                    <div class="user-info">
                        <div class="username">username</div>
                    </div>
                    <!-- This is the button for logging out or logging in another account -->
                    <div class="account-action">
                        <button id="accountAction"><img src="/images/3dots.png" alt=""></button>
                    </div>
                </div>
            </span>
        </navbar>

        <main>
            <section id="profile-section">
                <header>
                    <button id="backBtn"><img src="/images/back.svg" alt=""></button>
                    <div class="header-info">
                        <div class="username"><%= userData.username %></div>
                        <div class="postCount">0 posts</div>
                    </div>
                </header>

                <div class="user-info">
                    <div class="user-dp">
                        <div class="dp"></div>
                        <div class="button-container">
                            <button id="editProfile">Edit Profile</button>
                        </div>
                    </div>

                    <div class="username"><%= userData.username %></div>

                    <div class="bio">
                        <% if(userData.bio) userData.bio %>
                    </div>

                    <div class="user-other-info">
                        <div id="user-website"></div>
                        <div class="user-stats">
                            <div class="followCount">
                                <span id="followingCounter">0</span>
                                <span>Following</span>
                            </div>
                            <div class="followCount">
                                <span id="followerCounter">0</span>
                                <span>Followers</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="posts-container">
                    <% if(typeof postsData != 'undefined') { %> <% postsData.forEach(post => { %>

                    <div class="post">
                        <div class="dp">
                            <img src="/dev/dp.png" alt="">
                        </div>
                        <div class="post-content-container">
                            <div class="post-header">
                                <div class="username">
                                    <%= post.username %>
                                </div>
                                <div class="post-date">
                                    <%= post.date %>
                                </div>
                                <button id="postSettingsBtn">
                                    <img src="/images/3dots.png" alt="">
                                </button>
                            </div>

                            <div class="post-body"><%- post.content.trim().replace(/\n/g, '<br>') %></div>

                            <div class="post-footer">
                                <button id="heartBtn"><img src="/images/heart.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>

                </div>
            </section>

            <section id="misc">
                <div class="search-bar-container">
                    <div class="search-icon"></div>
                    <form action="/search">
                        <input type="text" name="search" id="searchInput" maxlength="30" placeholder="Search">
                        <!-- <button type="submit">Search</button> -->
                    </form>
                </div>
            </section>
            </div>
        </main>
    </body>

</html>